@charset 'utf-8'

@import 'settings'
@import 'compass'

html
  font:
    family: 'Helvetica Neue', Helvetica, Arial, sans-serif

body
  margin: 0
  padding: 0
  line-height: 1.25
  background: $bg-color
  color: $text-color

header
  background: #ddd
  border-bottom: 1px solid #ccc
  padding: 1rem 0
  margin: 0 0 1rem

h1
  margin: 0
  font-size: 1.5rem

a
  color: $link-color

nav
  margin-top: -0.5rem
  ul
    list-style-type: none
    margin: 0 0 0.5rem
    padding: 0
  li
    display: inline
    &:after
      display: inline
      content: " →"

.container
  max-width: 40rem
  margin: 0 auto
  padding: 0 1rem
