// WOFF by itself is very widely supported. http://caniuse.com/#feat=woff
@include font-face(
  icomoon,
  inline-font-files('icomoon/_icomoon.woff', woff),
  $weight: normal,
  $style: normal
);

span[class^="i-"] {
  font: normal normal normal 100%/1 icomoon;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span[class^="i-"]:after {
  content: "";
}

.i-mail:before {
  content: "\e600";
}

.i-gplus:before {
  content: "\e601";
}

.i-fb:before {
  content: "\e602";
}

.i-tw:before {
  content: "\e603";
}

.i-flickr:before {
  content: "\e604";
}

.i-github:before {
  content: "\e605";
}

.i-lkin:before {
  content: "\e606";
}

.i-key:before {
  content: "\e607";
}
