@include font-face(
  Merriweather,
  font-files('merriweather/merriweather-v8-latin-regular.woff', woff),
  $weight: 400,
  $style: normal
);

@include font-face(
  Merriweather,
  font-files('merriweather/merriweather-v8-latin-700.woff', woff),
  $weight: 700,
  $style: normal
);
