@charset 'utf-8'

@import 'settings'
@import 'compass'

*
  +box-sizing(border-box)

html
  font-size: 3vh

body
  margin: 0
  padding: 0
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

header
  background: #ddd
  border-bottom: 1px solid #ccc
  padding: 1rem 0
  margin: 0 0 1rem

.container
  max-width: 20em
  margin: 0 auto
  padding: 0 1rem

h1
  margin: 0
  font-size: 1.5rem

a
  text-decoration: none
  color: $link-color

p, .accounts
  line-height: 1.75

.accounts
  font-size: 1.25rem
  margin: 0 0 1rem
  padding: 0
  list-style-type: none

i[class^="i-"]
  display: inline-block
  width: 1.4rem
  margin-right: 0.4rem
  text-align: center
  &:after
    content: "•"
