@charset 'utf-8'

@import 'settings'
@import 'compass'
@import 'susy'

*
  +box-sizing(border-box)

body, html
  margin: 0
  padding: 0

body
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  display: flex
  min-height: 100vh
  flex-direction: column

header
  background: #ddd

main
  flex: 1

.container
  +container()

ul
  margin: 1rem 0
  padding: 0
  list-style-type: none
  line-height: 1.75
