@charset 'utf-8'

@import 'settings'
@import 'compass'
@import 'foundation/scss/foundation'

*
  +box-sizing(border-box)

body, html
  margin: 0
  padding: 0

body
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  display: flex
  min-height: 100vh
  flex-direction: column

header, .flexbox footer
  background: #ddd

main
  flex: 1

.container
  +grid-row()
  padding:
    left: $column-gutter / 2
    right: $column-gutter / 2

.row
  +grid-row()

.col
  +grid-column()

ul
  margin: 1rem 0
  padding: 0
  list-style-type: none
  line-height: 1.75
