@charset 'utf-8'

@import 'settings'
@import 'compass'
@import '_icons'

a
  +transition(color 0.5s ease-in-out)
  i[class^="i-"]
    +transition(all 0.5s ease-in-out)
a:hover
  +transition-duration(0.2s)
  color: mix($link-color, black, 50%)
  i[class^="i-"]
    +transform(scale(1.25))
a:active
  color: mix($link-color, white, 50%)

.wf-martel-n4-active
  font-family: Martel, sans-serif
  header
    padding: 1.1rem 0 0.9rem

.photo
  +background-size(cover)
  background:
    image: image_url('jack@1x.jpg')
    position: 50% 50%
    repeat: no-repeat
  @media (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)
    background-image: image_url('jack@2x.jpg')
