@charset 'utf-8'

@import 'settings'
@import 'compass'
@import '_icons'

a:visited
  color: mix($link-color, white, 80%)
a:hover
  color: mix($link-color, black, 50%)
a:active
  color: mix($link-color, white, 50%)

.wf-martel-n4-active
  font-family: Martel, sans-serif
  header
    padding: 1.1rem 0 0.9rem
