---
title: Bacchus trivia, September 20, 2016
---

%section

  %h2 Round 1

  %ol
    %li.question
      Of the ten most-watched television broadcasts in American history, nine were Super Bowls, and the other was the final episode of what TV series?
      .answer
        %i M * A * S * H
    %li.question
      If a British cookbook called for “rocket”, what would you need to buy in an American grocery store?
      .answer Arugula
    %li.question
      Very briefly, what sort of design is a saltire, as found on flags and coats of arms?
      .answer Diagonal cross or X
    %li.question
      What four MLB teams have won at least one World Series but have never lost any?
      .answer
        %ul
          %li
            Blue Jays
            %small (1992 and 1993)
          %li
            Marlins
            %small (1997 and 2003)
          %li
            Diamondbacks
            %small (2001)
          %li
            Angels
            %small (2002)
    %li.question
      Prior to <i>Hamilton</i> this year, what two other Best Musical Tony winners were based on the lives of, and named after, real-world political figures?
      .answer
        %ul
          %li
            %i Evita
          %li
            %i Fiorello!
    %li.question
      What common human bodily reaction is medically referred to as “horripilation”?
      .answer Goose bumps

%section

  %h2 Round 2

  %ol
    %li.question
      What holiday-themed name is given to secret or hidden features in video games?
      .answer Easter egg
    %li.question
      On the MTV show <i>Beavis and Butthead</i>, the title characters are most often seen wearing T-shirts for what two musical groups?
      .answer
        %ul
          %li Metallica
          %li AC/DC
    %li.question
      What does “SIM” stand for, as in the SIM card in a cellular phone?
      .answer Subscriber identity/identification module
    %li.question
      Prior to being overtaken by <i>The Simpsons</i>, what was the longest-running prime-time series on American television, with 635 episodes from 1955 to 1975?
      .answer
        %i Gunsmoke
    %li.question
      On this day (September 20) in 1973, what two tennis players participated in the “Battle of the Sexes” match at the Houston Astrodome?
      .answer
        %ul
          %li Billie Jean King
          %li Bobby Riggs
    %li.question
      The Indian Ocean island of Mauritius has the only national coat of arms depicting what animal?
      .answer Dodo

%section

  %h2 Round 3

  %p
    Draw each of the characters listed below, given its name in the official Unicode specification.

  %ol.unicode-quiz
    %li.question
      Almost equal to
      .answer ≈
    %li.question
      Angstrom sign
      .answer Å
    %li.question
      Ankh
      .answer ☥
    %li.question
      Beamed sixteenth notes
      .answer ♬
    %li.question
      Currency sign
      .answer ¤
    %li.question
      Diameter sign
      .answer ⌀
    %li.question
      Double dagger
      .answer ‡
    %li.question
      Eject symbol
      .answer ⏏
    %li.question
      Interrobang
      .answer ‽
    %li.question
      Logical or
      .answer ∨
    %li.question
      Lozenge
      .answer ◊
    %li.question
      Music natural sign
      .answer ♮
    %li.question
      Not sign
      .answer ¬
    %li.question
      Ohm sign
      .answer Ω
    %li.question
      Per mille sign
      .answer ‰
    %li.question
      Pilcrow sign
      .answer ¶
    %li.question
      Position indicator
      .answer ⌖
    %li.question
      Power symbol
      .answer ⏻
    %li.question
      Sound recording copyright
      .answer ℗
    %li.question
      Warning sign
      .answer ⚠

  .unicode-quiz.question
    %em Bonus:
    Though they may not know it, most Mac users will be familiar with the character offically designated as the <em>Place of interest sign</em>. Draw this symbol.
    .answer ⌘

%section

  %h2 Round 4

  %ol
    %li.question
      A 1999 episode of <i>Futurama</i> centers around a TV series called <i>Single Female Lawyer</i>, a spoof of what actual show?
      .answer
        %i Ally McBeal
    %li.question
      What is the name of the jazz tune used as the theme song of the Harlem Globetrotters?
      .answer “Sweet Georgia Brown”
    %li.question
      What is the everyday term for what is known in culinary science as the Maillard reaction?
      .answer Browning
    %li.question
      What unit of measurement is approximately equal to 746 watts?
      .answer Horsepower
    %li.question
      Who performed at the Super Bowl halftime show the first time the halftime show drew more TV viewers than the football game?
      .answer
        Michael Jackson
        %small (Super Bowl XXVII in January 1993)
    %li.question
      What modern-day language uses the standard Roman alphabet, plus two unique letters called “eth” and “thorn”?
      .answer Icelandic

%section

  %h2 Round 5

  %ol
    %li.question
      Mohair is a fiber obtained from what type of animal?
      .answer Goat
    %li.question
      Analogous to the Medal of Honor in the United States, what is the highest decoration awarded to members of the British armed services?
      .answer Victoria Cross
    %li.question
      Who was the most recent U.S. President not to successfully seat any Supreme Court Justices during his Presidency?
      .answer Jimmy Carter
    %li.question
      What museum’s original name upon its founding in 1939 was The Museum of Non-Objective Painting?
      .answer The Solomon R. Guggenheim Museum
    %li.question
      What US city’s airport processes more cargo than any other airport in the country?
      .answer Memphis, TN
    %li.question
      What country was the world’s largest producer of quinoa as of 2014?
      .answer Peru

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    What oyster dish first created in 1899 in New Orleans got its name from the richness of its sauce?
    .answer Oysters Rockefeller
