---
title: Bacchus trivia, December 13, 2016
---

%section

  %h2 Round 1

  %ol
    %li.question
      The Presidential country retreat Camp David is located in what state?
      .answer
        Maryland

    %li.question
      Spelled out in English, what are the four shortest letters of the Greek alphabet, at two letters each?
      .answer
        %ul
          %li mu
          %li nu
          %li xi
          %li pi

    %li.question
      What is the title of Salvador Dalí’s famous painting featuring melting pocket watches?
      .answer
        “The Persistence of Memory”

    %li.question
      Of the 41 bowl games being played in the 2016–17 NCAA football season, 40 will be held in the United States, and one in what other country?
      .answer
        The Bahamas

    %li.question
      There are two father and son pairs who have each received the Medal of Honor. What are last names of each pair?
      .answer
        %ul
          %li
            MacArthur
            %small (Arthur MacArthur Jr. and Douglas MacArthur)
          %li
            Roosevelt
            %small (Theodore Roosevelt and Theodore Roosevelt Jr.)

    %li.question
      What mid-size SUV sold by Volkswagen since 2002 is named after a nomadic ethnic group found mainly in the Sahara desert?
      .answer
        Touareg

%section

  %h2 Round 2

  %ol
    %li.question
      Helix, Casper, Leesa, and Saatva are online vendors of what type of product?
      .answer
        Mattresses

    %li.question
      What was the name of the all-you-can-eat seafood restaurant sued by Homer Simpson for failing to give him all the seafood he could eat, a pun on, among other things, an opera by Richard Wagner?
      .answer
        The Frying Dutchman

    %li.question
      In Greek mythology, the chimera was usually described as a combination of what three animals?
      .answer
        %ul
          %li Lion
          %li Goat
          %li Snake

    %li.question
      What are the only two Central American countries which do not border both the Caribbean Sea and the Pacific Ocean?
      .answer
        %ul
          %li Belize
          %li El Salvador

    %li.question
      What is the term in Jewish dietary laws for food which contains neither meat nor dairy ingredients and so may be eaten alongside either?
      .answer
        Pareve/parve

    %li.question
      What author has won the most Tony Awards for Best Play, with four?
      .answer
        Tom Stoppard
        %ul
          %li
            %small
              %i Rosencrantz and Guildenstern Are Dead
          %li
            %small
              %i Travesties
          %li
            %small
              %i The Real Thing
          %li
            %small
              %i The Coast of Utopia

%section

  %h2 Round 3

  %p
    Give the title of each movie referenced by the Amazon user reviews below. The year of each movie’s release is given in parentheses. (Spelling, grammar, and punctuation preserved from original sources.)

  %ol
    %li.question
      (1967) I highly doubt a pack of hungry wolves would just adopt a human kid as one of their own.
      .answer
        %i The Jungle Book

    %li.question
      (1979) I just don’t get it. Why are they sending a woman into space?
      .answer
        %i Alien

    %li.question
      (1980) It’s hard to believe that a hotel that size in Colorado would close in the winter with all the skiing business
      .answer
        %i The Shining

    %li.question
      (1983) NOT WHAT I EXPECTED. I PREFER DOGS THAT ARE NOT POSSESSED BY EVIL. GAVE IT TO MY NEPHEW AND HE LOVED IT
      .answer
        %i Cujo

    %li.question
      (1987) Fire Swamps? Giants? Big Moles? Are YOU KIDDING ME?!?!? This movie is completely out of touch with reality.
      .answer
        %i The Princess Bride

    %li.question
      (1994) It’s disappointing. Animals simply don’t talk or sing.
      .answer
        %i The Lion King

    %li.question
      (1996) With all that technology they still got beat by MJ? He was good but not THAT good.
      .answer
        %i Space Jam

    %li.question
      (1997) Please just imagine if you were Fernfield basketball player that lost his job to a golden retriever.
      .answer
        %i Air Bud

    %li.question
      (2005) Four girls share a single pair of jeans that they all had their periods in. How GROSS is that?
      .answer
        %i The Sisterhood of the Traveling Pants

    %li.question
      (2009) The title is misspelled and movie is historically inaccurate.
      .answer
        %i Inglourious Basterds

    %li.question
      (2010) The aerodynamics in this movie are unrealistic. Also, that’s not what dragons look like.
      .answer
        %i How to Train Your Dragon

    %li.question
      (2012) Obama has had to much influence on this one so it sucked it was an anti torcher movie.
      .answer
        %i Zero Dark Thirty

    %li.question
      (2012) There was absolutely no magic in this movie at all. Huge letdown.
      .answer
        %i Magic Mike

    %li.question
      (2013) I did not like the movie because of all the whippings and beatings
      .answer
        %i Twelve Years a Slave

    %li.question
      (2013) There were no wolves in the movie.
      .answer
        %i The Wolf of Wall Street

    %li.question
      (2013) Thought Channing and Jamie were holding hands on the cover, was expecting something a little more sensual.
      .answer
        %i White House Down

    %li.question
      (2014) Can’t believe Vin Diesel did a movie where he repeats the same 3 words the whole movie.
      .answer
        %i Guardians of the Galaxy

    %li.question
      (2014) didn’t realize he was gay when I bought the movie
      .answer
        %i The Imitation Game

    %li.question
      (2015) I am against the idea of changing ones sex.
      .answer
        %i The Danish Girl

    %li.question
      (2015) I don’t know where to get eatable chrome spray
      .answer
        %i Mad Max: Fury Road

  .question
    %em Bonus:
    This book review excerpt from 1922 discusses what novel published the same year? “Two-thirds of it is incoherent, and the passages that are plainly written are devoid of wit...”
    .answer
      %i Ulysses

%section

  %h2 Round 4

  %ol
    %li.question
      Revolutionary War general Christopher Gadsden lends his name to a flag with what design?
      .answer
        Coiled snake, “Don’t Tread on Me” motto

    %li.question
      What is the only country in Southeast Asia never to have been colonized by a European power?
      .answer
        Thailand

    %li.question
      What are the two main varieties of coffee grown around the world for commercial sale?
      .answer
        %ul
          %li Arabica
          %li Robusta

    %li.question
      What two U.S. states share borders with the most other states, with eight neighbors each?
      .answer
        %ul
          %li Missouri
          %li Tennessee

    %li.question
      What adjective meaning “monstrously large” originates from the name of a literary character created by François Rabelais in the 16th century?
      .answer
        Gargantuan

    %li.question
      What Washington, DC street name is often used to refer collectively to political lobbyists, similar to the way “Madison Avenue” refers to the advertising industry?
      .answer
        K Street

%section

  %h2 Round 5

  %p
    Deducing the common theme to all six questions in this round may help you figure out the correct answers.

  %ol
    %li.question
      What muppet on
      %i Sesame Street
      was originally colored orange, before changing to the current color for season 2 onwards?
      .answer
        Oscar the Grouch

    %li.question
      What car company’s logo combines two symbols of the city of Milan, where it was founded in 1910?
      .answer
        Alfa Romeo

    %li.question
      James Brown won his first Grammy award for what 1965 single?
      .answer
        “Papa’s Got a Brand New Bag”

    %li.question
      In 1995, what NHL team moved to Denver and was renamed the Colorado Avalanche?
      .answer
        Québec Nordiques

    %li.question
      What 2014 movie, nominated for nine Academy Awards, is set in a fictional European country named after a type of flavored Polish vodka?
      .answer
        %i The Grand Budapest Hotel

    %li.question
      What nonprofit organization, founded in 1892, was instrumental in the creation of Yosemite National Park?
      .answer
        The Sierra Club

  .question
    This round’s theme:
    .answer
      Letters in the NATO phonetic alphabet
      %div
        %small (Oscar, Alpha, Romeo, Papa, Quebec, Hotel, Sierra)

%section

  %h2
    Final question
    %small (Category: <em>Science</em>)

  .question
    On November 28, 2016, the International Union of Pure and Applied Chemistry formally approved the names of four new elements, including one named after what country?
    .answer
      Japan
      %small (Nihonium, element 113)
