---
title: June 21, 2016
---

%section

  %h2 Round 1

  %ol
    %li.question
      What are the names of the two measurements that make up a blood pressure reading?
      .answer
        %ul
          %li Systolic pressure
          %li Diastolic pressure
    %li.question
      Two undersea characters, one from an 1870 novel and one from a 2003 film, share a Latin name. What is the name, and what is its English translation?
      .answer
        %ul
          %li Nemo
          %li Nobody
    %li.question
      “Tell me what brand of whiskey he drinks; I would like to send a barrel of it to my other generals.” Who said this, and whom is it referencing?
      .answer
        Abraham Lincoln, referring to Ulysses S. Grant
    %li.question
      What is the length (and also the title) of a 1952 John Cage composition calling for its performers to remain silent?
      .answer
        4′33″
    %li.question
      What is the only U.S. state quarter that depicts the entire contiguous U.S. on the reverse?
      .answer
        Louisiana
        %small (showing the <a href="https://upload.wikimedia.org/wikipedia/commons/6/6e/2002_LA_Proof.png">Louisiana Purchase</a>)
    %li.question
      Although the Primetime Emmy for Outstanding Reality Competition Program has been awarded each year since 2003, what are the only three shows to have won it?
      .answer
        %ul
          %li
            %i The Amazing Race
            %small (won ten times)
          %li
            %i The Voice
            %small (won twice)
          %li
            %i Top Chef
            %small (won once)

%section

  %h2 Round 2

  %ol
    %li.question
      What do bananas Foster, cherries jubilee, and crêpes Suzette have in common?
      .answer
        Flambéeing
    %li.question
      While <i>Hamilton</i> did set a record for most Tony nominations in 2016, it fell one short of the record for Tony wins, still held by what show?
      .answer
        %i The Producers
        %small (12 wins)
    %li.question
      In 1968, <i>Esquire</i> magazine ran a cover showing what athlete pierced with arrows in an homage to the martyrdom of Saint Sebastian?
      .answer
        Muhammad Ali
        %small (<a href="http://www.georgelois.com/pages/Esquire/Esq.Ali.html">April 1968 cover</a>)
    %li.question
      What four opponents did Franklin D. Roosevelt defeat in Presidential elections?
      .answer
        %ul
          %li
            Herbert Hoover
            %small (1932)
          %li
            Alf Landon
            %small (1936)
          %li
            Wendell Wilkie
            %small (1940)
          %li
            Thomas Dewey
            %small (1944)
    %li.question
      Mentioned in Charles Dickens’ <i>A Christmas Carol</i>, smoking bishop is a type of what drink?
      .answer
        Mulled wine
    %li.question
      Apart from Clippy the paperclip, Microsoft Office 97 shipped with eight other cartoon assistants. Name any three.
      .answer
        %ul
          %li A cat
          %li A dog
          %li A robot
          %li A globe
          %li A smiley-face
          %li The Microsoft Office logo
          %li Albert Einstein
          %li William Shakespeare

%section

  %h2 Round 3

  %p
    <em>Before & After:</em> Each answer is a combination of two movie titles,
    linked by a common word in the middle. One member of each movie’s cast is
    provided, in the correct order, along with the total number of words in the
    answer. Example:
  %p
    Chris Pratt & Alan Rickman (5) → <strong><i>Guardians of the Galaxy Quest</i></strong>

  %ol
    %li.question
      Adrien Brody & Don Cheadle (5)
      .answer
        %i The Grand Budapest Hotel Rwanda
    %li.question
      Angela Bassett & Christopher Lloyd (9)
      .answer
        %i How Stella Got Her Groove Back to the Future
    %li.question
      Annette Bening & Angela Lansbury (5)
      .answer
        %i American Beauty and the Beast
    %li.question
      Arnold Schwarzenegger & Sylvester Stallone (3)
      .answer
        %i Kindergarten Cop Land
    %li.question
      Audrey Hepburn & Paul Giamatti (6)
      .answer
        %i My Fair Lady in the Water
    %li.question
      Barbra Streisand & Tom Cruise (9)
      .answer
        %i A Star is Born on the Fourth of July
    %li.question
      Ben Stiller & Dick Van Dyke (5)
      .answer
        %i There’s Something About Mary Poppins
    %li.question
      Gary Oldman & Jack Nicholson (8)
      .answer
        %i Air Force One Flew Over the Cuckoo’s Nest
    %li.question
      Harrison Ford & Uma Thurman (4)
      .answer
        %i Regarding Henry & June
    %li.question
      Henry Fonda & Tommy Lee Jones (5)
      .answer
        %i Twelve Angry Men in Black
    %li.question
      Janeane Garofalo & John Leguizamo (6)
      .answer
        %i Wet Hot American Summer of Sam
    %li.question
      Joe Pesci & Tim Robbins (3)
      .answer
        %i Raging Bull Durham
    %li.question
      John Cusack & Robert Redford (5)
      .answer
        %i Eight Men Out of Africa
    %li.question
      Kate Winslet & Sam Elliott (3)
      .answer
        %i Revolutionary Road House
    %li.question
      Lea Thompson & Groucho Marx (4)
      .answer
        %i Howard the Duck Soup
    %li.question
      Mickey Rourke & Daniel Stern (3)
      .answer
        %i Sin City Slickers
    %li.question
      Ryan Gosling & Fisher Stevens (4)
      .answer
        %i The Big Short Circuit
    %li.question
      Sandra Bullock & Julia Roberts (7)
      .answer
        %i While You Were Sleeping With the Enemy
    %li.question
      Stephen Root & Wayne Knight (3)
      .answer
        %i Office Space Jam
    %li.question
      Tom Hanks & Richard Dreyfuss (10)
      .answer
        %i Extremely Loud and Incredibly Close Encounters of the Third Kind

    .question
      <em>Bonus:</em> What one performer’s name would work as a clue for both halves of <strong><i>The Great Escape from New York</i></strong>?
      .answer
        Donald Pleasence

%section

  %h2 Round 4

  %ol
    %li.question
      In Texas hold ’em poker, “Big Slick” is a reference to what cards?
      .answer
        Ace and king
        %small (as hole cards)
    %li.question
      The islands known to early European world explorers as the Spice Islands are part of what present-day country?
      .answer
        Indonesia
    %li.question
      What are the three ingredients (not including ice or garnish) of a Negroni cocktail?
      .answer
        %ul
          %li Gin
          %li Campari
          %li Sweet vermouth
    %li.question
      In 2012, the Gibson guitar company was fined $300,000 for illegally importing what two types of tropical wood?
      .answer
        %ul
          %li Ebony
          %li Rosewood
    %li.question
      What film director, born in 1946, created a comic strip called <i>The Angriest Dog in the World</i>, which ran from 1983 to 1992?
      .answer
        David Lynch
    %li.question
      The first African-American to serve in the U.S. Senate represented what state?
      .answer
        Mississippi
        %small (<a href="https://en.wikipedia.org/wiki/Hiram_Rhodes_Revels">Hiram Revels</a>; served from February 23, 1870 to March 3, 1871)

%section

  %h2 Round 5

  %ol
    %li.question
      What is a potter’s field used for?
      .answer
        Burial of unknown/indigent people
    %li.question
      What building in Whitman, Massachusetts gave its name to one of the most popular baked goods in America?
      .answer
        Toll House Inn
    %li.question
      Name either of the two countries spanned by the Darién Gap.
      .answer
        %ul
          %li Panama
          %li Colombia
    %li.question
      What is the name of the Comic Book Guy’s store on <i>The Simpsons</i>?
      .answer
        The Android’s Dungeon
        %small (in full, The Android’s Dungeon & Baseball Card Shop)
    %li.question
      In formal table settings, what is unique about the oyster fork, compared to all other types of fork?
      .answer
        Placed to the right of the plate
    %li.question
      The city hall in what U.S. city was the tallest habitable building in the world from 1894 to 1908?
      .answer
        Philadelphia
        %small (<a href="https://en.wikipedia.org/wiki/Philadelphia_City_Hall">548 feet tall</a>)

%section

  %h2
    Final question
    %small (Category: <em>Space</em>)

  .question
    At what university did President Kennedy deliver the famous “we choose to go to the moon” speech?
    .answer
      Rice University
