---
title: Bacchus trivia, October 10, 2017
---

%section

  %h2 Round 1

  %ol

    %li.question
      What Japanese automaker’s name can be translated into English as “three diamonds”?
      .answer
        Mitsubishi

    %li.question
      Where in the human body would one find the only bone not connected by ligaments to any other bone?
      .answer
        Neck
        %small (the hyoid bone, a.k.a. Adam’s apple)

    %li.question
      What sporting goods company is named after a type of antelope native to southern Africa?
      .answer
        Reebok

    %li.question
      The title of the Rush song “YYZ” references what specific location?
      .answer
        Toronto Pearson International Airport

    %li.question
      In describing coats of arms, a fess, a pale, and a bend are all particular types of what design element?
      .answer
        Stripe
        %small (fess: horizontal; pale: vertical; bend: diagonal)

    %li.question
      What are the three main U.S. credit reporting agencies?
      .answer
        %ul
          %li Equifax
          %li Experian
          %li TransUnion

%section

  %h2 Round 2

  %ol

    %li.question
      The Bessemer process, patented in 1856, enabled the economical mass production of what commodity?
      .answer
        Steel

    %li.question
      Who holds the record for most guest appearances on <i>The Simpsons</i> with 52, the last of which originally aired in 1998?
      .answer
        Phil Hartman

    %li.question
      In statistics, what is the term for the most commonly-found value in a data set?
      .answer
        Mode

    %li.question
      What English city’s residents are referred to colloquially as “Geordies”?
      .answer
        Newcastle
        %small (upon Tyne)

    %li.question
      What term from music theory could also refer to an organized crime syndicate in China or Hong Kong?
      .answer
        Triad

    %li.question
      What are the ten countries in the world with four-letter names (as they are commonly referred to in English)?
      .answer
        %ul
          %li Chad
          %li Cuba
          %li Fiji
          %li Iran
          %li Iraq
          %li Laos
          %li Mali
          %li Oman
          %li Peru
          %li Togo

%section

  %h2 Round 3

  %p
    Each answer consists entirely or in part of one of the 20 most common
    surnames in the 2010 U.S. Census (no surname is duplicated).

  %ol

    %li.question
      Puritan co-founder of the state of Rhode Island
      .answer
        Roger
        %em Williams

    %li.question
      U.S. subsidiary of the Hudson’s Bay Company
      .answer
        Lord &
        %em Taylor

    %li.question
      State capital at the crossroads of I–20 and I–55
      .answer
        = succeed ',' do
          %em Jackson
        Mississippi

    %li.question
      Second-best-selling Ben & Jerry’s flavor in 2016
      .answer
        Cherry
        %em Garcia

    %li.question
      1999 NL Cy Young winner
      .answer
        Randy
        %em Johnson

    %li.question
      1999 AL Cy Young winner
      .answer
        Pedro
        %em Martínez

    %li.question
      He completed his EGOT in 2014
      .answer
        Robert
        %em Lopez

    %li.question
      Julia Child’s alma mater
      .answer
        %em Smith
        College

    %li.question
      Subject of newsworthy custody battle in 2000
      .answer
        Elián
        %em González

    %li.question
      Maker of novelty turkey-and-gravy-flavored soft drink
      .answer
        %em Jones
        Soda

    %li.question
      Official supplier of NFL footballs
      .answer
        %em Wilson
        Sporting Goods

    %li.question
      Creator of the <i>Machete</i> film franchise
      .answer
        Robert
        %em Rodriguez

    %li.question
      “Law” describing increases in computer chip density
      .answer
        = succeed '’s' do
          %em Moore
        Law

    %li.question
      Children’s character created by the Rev. Wilbert Awdry
      .answer
        %em Thomas
        the Tank Engine

    %li.question
      MLB player guest-starring in season 3 of <i>Seinfeld</i>
      .answer
        Keith
        %em Hernandez

    %li.question
      Supreme Court case desegregating U.S. public schools
      .answer
        %em Brown
        vs. Board of Education

    %li.question
      Infamous POW camp operated from 1864 to 1865
      .answer
        = succeed 'ville' do
          %em Anderson

    %li.question
      Subject of 2002 South African corporate acquisition
      .answer
        %em Miller
        Brewing Company

    %li.question
      World’s largest defense contractor
      .answer
        Lockheed
        %em Martin

    %li.question
      Largest city in Yolo County, California
      .answer
        %em Davis

%section

  %h2 Round 4

  %ol

    %li.question
      Announced alongside the five original Nobel Prizes each year is an award “in memory of Alfred Nobel” in what academic field?
      .answer
        Economics

    %li.question
      The Philip K. Dick short story “We Can Remember It For You Wholesale” was adapted into what 1990 film?
      .answer
        %i Total Recall

    %li.question
      The “Swiss water method” is used to produce what consumer product?
      .answer
        Decaffeinated coffee

    %li.question
      What is the technical name for a pick used for playing guitars, mandolins, or other stringed instruments?
      .answer
        Plectrum

    %li.question
      What ancient Egyptian temple complex shares a name, although not a spelling, with a recurring character from Johnny Carson’s <i>Tonight Show</i>?
      .answer
        Karnak

    %li.question
      At the four corners of Central Park in Manhattan are monuments to what four people?
      .answer
        %ul
          %li Christopher Columbus
          %li William Tecumseh Sherman
          %li Duke Ellington
          %li Frederick Douglass

%section

  %h2 Round 5

  %ol

    %li.question
      The adoption of fuel injection in automotive engines made what other car part essentially obsolete?
      .answer
        Carburetor

    %li.question
      Weyland-Yutani is a fictional corporation featured in what film franchise?
      .answer
        %i Alien

    %li.question
      What is Canada’s second-smallest province, after Prince Edward Island?
      .answer
        Nova Scotia

    %li.question
      While the honorific “Mahatma” is typically used when referring to Gandhi, what was his actual first name?
      .answer
        Mohandas

    %li.question
      What Las Vegas casino resort boasts the largest hotel in the United States, and second-largest in the world?
      .answer
        The Venetian

    %li.question
      What piece of headwear shares its name with a battle from the Crimean War?
      .answer
        Balaclava

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    What U.S. state has a distinctive barbecue style that features mutton rather than pork or beef?
    .answer Kentucky
