---
title: Bacchus trivia, July 18, 2017
---

%section

  %h2 Round 1

  %ol

    %li.question
      In baseball, what type of pitch is delivered with as little spin on the ball as possible?
      .answer Knuckleball

    %li.question
      The “Twelve-Mile Circle” forms part of the border between what two U.S. states?
      .answer
        %ul
          %li Pennsylvania
          %li Delaware

    %li.question
      A 1988 strike by the Writers Guild of America led to the creation of what Fox program that ran on the network for 25 seasons?
      .answer
        %i Cops

    %li.question
      What type of cotton fabric, originating in India and typically decorated with floral patterns, lends its name to an adjective meaning cheap or tacky?
      .answer Chintz

    %li.question
      What are the highest and lowest frequencies allowed for AM radio stations in the United States, in kilohertz?
      .answer
        %ul
          %li 1700 KHz
          %li 530 KHz

    %li.question
      Name the three films whose soundtrack albums won the Grammy Award for Album of the Year.
      .answer
        %ul
          %li
            %i Saturday Night Fever
            %small (1979)
          %li
            %i The Bodyguard
            %small (1994)
          %li
            %i O Brother, Where Art Thou?
            %small (2002)

%section

  %h2 Round 2

  %ol

    %li.question
      Which of the categories in the Academy Awards is the newest, being first awarded to films produced in 2001?
      .answer
        Best Animated Feature

    %li.question
      What distinction is shared by these companies and fewer than two dozen others: Citigroup, Macy’s, Sprint, and Visa?
      .answer Single-letter stock ticker symbols

    %li.question
      In Gothic architectural ornamentation, what feature does a gargoyle have that a grotesque does not?
      .answer A waterspout

    %li.question
      What food item found at many pizzerias shares its name with a volcano off the north coast of Sicily?
      .answer Stromboli

    %li.question
      “Patience” and “Fortitude” are the nicknames of two sculptures located at what New York City location?
      .answer Main branch of the New York Public Library

    %li.question
      Since 1967, the second has been officially defined based on the behavior of atoms of what chemical element?
      .answer Cesium

%section

  %h2 Round 3

  %p Name the category that each set of items belongs to.

  %ol

    %li.question
      Acorn; Calabaza; Crookneck; Delicata
      .answer Squash varieties
    %li.question
      Aftermath; Matador; Telstar; Warp
      .answer Record labels
    %li.question
      Ajax; Benfica; Feyenoord; Juventus
      .answer European soccer teams
    %li.question
      Annapurna; Incahuasi; Maipo; Popocatépetl
      .answer Mountains
    %li.question
      Arches; Biscayne; Congaree; Pinnacles
      .answer U.S. national parks
    %li.question
      Aspire; Galaxie; Granada; Torino
      .answer Ford automobiles
    %li.question
      Baker; Hickenlooper; Inslee; Scott
      .answer U.S. state governors
    %li.question
      Baldwin; Cortland; Envy; Jonathan
      .answer Apple varieties
    %li.question
      Besalisk; Bothan; Gand; Zabrak
      .answer Alien species in the <i>Star Wars</i> universe
    %li.question
      Boerboel; Briard; Papillon; Xoloitzcuintli
      .answer Dog breeds
    %li.question
      Brown; Gideon; Griswold; Loving
      .answer Plaintiffs in notable U.S. Supreme Court cases
    %li.question
      Camille; Ivan; Mitch; Rita
      .answer Category 5 hurricanes
    %li.question
      Cantor; Galois; Hilbert; Riemann
      .answer Mathematicians
    %li.question
      Cascabel; Datil; Mirasol; Mulato
      .answer Chili pepper varieties
    %li.question
      Cepheus; Eridanus; Serpens; Triangulum
      .answer Constellations
    %li.question
      Charlie; Clipper; Octopus; Ventra
      .answer Public transit farecards
    %li.question
      Chessie; Hodag; Kelpie; Skookum
      .answer Legendary/mythical creatures
    %li.question
      Chinook; Cobra; Merlin; Seahawk
      .answer Helicopters
    %li.question
      Colfax; Dallas; Garner; Stevenson
      .answer U.S. Vice Presidents
    %li.question
      Cumberland; James; Sabine; Snake
      .answer U.S. rivers
    %li.question
      Dart; Lua; Rust; Scala
      .answer Programming languages
    %li.question
      Florian; Galba; Otho; Valens
      .answer Roman emperors
    %li.question
      Lakmé; Norma; Salome; Wozzeck
      .answer Operas
    %li.question
      Laurier; Macdonald; Mackenzie; Pearson
      .answer Canadian Prime Ministers
    %li.question
      Sky; Stars; Storm; Sun
      .answer WNBA teams

%section

  %h2 Round 4

  %ol

    %li.question
      The first known outbreak of Legionnaire’s Disease was traced to bacterial contamination in what type of device?
      .answer Air conditioner

    %li.question
      In 1949, what Broadway show, based on a Shakespeare comedy, won the first-ever Tony Award for Best Musical?
      .answer
        %i Kiss Me, Kate

    %li.question
      In the event of a forfeit in Major League Baseball, what final score is officially recorded?
      .answer 9–0

    %li.question
      From its independence from the British Empire until 1971, the country of Pakistan included what present-day country in addition to its current territory?
      .answer Bangladesh

    %li.question
      What are the two main chemical elements that make up ordinary glass found in windowpanes, bottles, and drinking glasses?
      .answer
        %ul
          %li Silicon
          %li Oxygen

    %li.question
      Among the top ten most common surnames from the 2010 U.S. Census, what three Hispanic surnames appear?
      .answer
        %ul
          %li
            Garcia
            %small (#6)
          %li
            Rodriguez
            %small (#9)
          %li
            Martinez
            %small (#10)

%section

  %h2 Round 5

  %ol

    %li.question
      What faux fraternity nickname was given to the University of Houston men’s basketball program in the early 1980s, for their style of above-the-rim play?
      .answer Phi Slama Jama

    %li.question
      What former Soviet republic was historically referred to in English as “White Russia”?
      .answer Belarus

    %li.question
      What Nestlé product is frequently given as a good-luck gift in Japan, since its name sounds like a Japanese phrase meaning “surely win”?
      .answer Kit-Kat

    %li.question
      Prior to Bob Dylan in 2016, who was the last American to be awarded the Nobel Prize in Literature?
      .answer
        Toni Morrison
        %small (1993)

    %li.question
      What film production studio’s logo features the Latin motto “Ars Gratia Artis”, or “Art for Art’s Sake”?
      .answer Metro-Goldwyn-Mayer Studios

    %li.question
      What is the only U.S. state whose entire eastern and western borders are formed by rivers?
      .answer Iowa

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    A
    %i croque-monsieur
    sandwich may be turned into a
    %i croque-madame
    by adding what topping?
    .answer Fried/poached egg
