---
title: Bacchus trivia, June 12, 2018
---

%section

  %h2 Round 1

  %ol

    %li.question
      Who is the more famous pop-culture partner of the actor Alex Winter?
      .answer
        Keanu Reeves
        %small (of “Bill & Ted”)

    %li.question
      Robertson, Frearson, Pentalobe, and Polydrive are a few different types of what?
      .answer
        Screw heads

    %li.question
      What is the most populous U.S. state having only one Congressional district?
      .answer
        Montana

    %li.question
      This past Sunday (June 10, 2018), what show won the Tony Award for Best Play?
      .answer
        %i Harry Potter and the Cursed Child

    %li.question
      What Asian country belongs to its own time zone which has a nearly-unique 45-minute offset from Universal Time?
      .answer
        Nepal

    %li.question
      What three baseball statistics make up what are known as the “three true outcomes”?
      .answer
        %ul
          %li
            Home runs
          %li
            Walks
          %li
            Strikeouts

%section

  %h2 Round 2

  %ol

    %li.question
      What was the name of the naval vessel commanded by John F. Kennedy during World War II?
      .answer
        PT-109

    %li.question
      What present-day organization is the result of the mid-20th century consolidation of the IRT, IND, and BMT?
      .answer
        MTA/New York City subway system

    %li.question
      The most common types of stainless steel are produced by adding what two metallic elements to ordinary carbon steel?
      .answer
        %ul
          %li Chromium
          %li Nickel

    %li.question
      From the year 1900 to the present day, what four countries have at various times boasted the tallest skyscraper in the world?
      .answer
        %ul
          %li United States
          %li Malaysia
          %li Taiwan
          %li United Arab Emirates

    %li.question
      Guesstimation: as of 2014 Census estimates, what percentage of the population of the United States lives in the Eastern time zone?
      .answer
        47.1%

    %li.question
      What drum machine introduced in 1980 is mentioned by name in the title of, and featured extensively in, a 2008 Kanye West album?
      .answer
        808
        %small (Roland TR-808)

%section

  %h2 Round 3

  %p
    Name the musical artist or band, given the title of that artist or band’s
    only <i>Billboard</i> Top 40 hit and the year it was released.

  %ol
    %li.question
      “Barely Breathing” (1996)
      .answer
        Duncan Sheik

    %li.question
      “Bust a Move” (1989)
      .answer
        Young MC

    %li.question
      “Closing Time” (1998)
      .answer
        Semisonic

    %li.question
      “Flagpole Sitta” (1997)
      .answer
        Harvey Danger

    %li.question
      “Funkytown” (1980)
      .answer
        Lipps Inc.

    %li.question
      “I Believe in a Thing Called Love” (2003)
      .answer
        The Darkness

    %li.question
      “I Melt with You” (1982)
      .answer
        Modern English

    %li.question
      “I Ran (So Far Away)” (1982)
      .answer
        Flock of Seagulls

    %li.question
      “I Touch Myself” (1990)
      .answer
        Diviynls

    %li.question
      “I Try” (1999)
      .answer
        Macy Gray

    %li.question
      “Just a Friend” (1989)
      .answer
        Biz Markie

    %li.question
      “No Rain” (1992)
      .answer
        Blind Melon

    %li.question
      “Rapper’s Delight” (1979)
      .answer
        The Sugarhill Gang

    %li.question
      “Ring My Bell” (1979)
      .answer
        Anita Ward

    %li.question
      “Spirit in the Sky” (1969)
      .answer
        Norman Greenbaum

    %li.question
      “Torn” (1997)
      .answer
        Natalie Imbruglia

    %li.question
      “Unbelievable” (1990)
      .answer
        EMF

    %li.question
      “What Is Love” (1993)
      .answer
        Haddaway

    %li.question
      “What’s Up?” (1992)
      .answer
        4 Non Blondes

    %li.question
      “Wipe Out” (1963)
      .answer
        The Surfaris

%section

  %h2 Round 4

  %ol

    %li.question
      The ability of a material to provide insulation from heat or cold is typically denoted with what letter of the alphabet?
      .answer
        R

    %li.question
      A dobro is a particular type of what musical instrument?
      .answer
        Guitar

    %li.question
      Draw a quincunx.
      .answer
        %span{ style: 'font-size: 2rem' } ⁙

    %li.question
      What four New York counties share names with U.S. states?
      .answer
        %ul
          %li Delaware
          %li New York
          %li Washington
          %li Wyoming

    %li.question
      After the United States, what country’s flag has the most stars in its design?
      .answer
        Brazil
        %small (27 stars)

    %li.question
      What five plays by Shakespeare have single-word titles?
      .answer
        %ul
          %li
            %i Macbeth
          %li
            %i Hamlet
          %li
            %i Othello
          %li
            %i Coriolanus
          %li
            %i Cymbeline

%section

  %h2 Round 5

  %ol

    %li.question
      Between Central Park and Greenwich Village, what is the dividing line between addresses marked “East” and “West” on Manhattan streets?
      .answer
        5th Avenue

    %li.question
      Who is the oldest person ever to be named the “Sexiest Man Alive” by <i>People</i> (at the time he was named)?
      .answer
        Sean Connery
        %small (in 1989, at age 59)

    %li.question
      What is the name of the indigenous people making up approximately fifteen percent of the present-day population of New Zealand?
      .answer
        Māori

    %li.question
      What is the only movie to become the highest-grossing film of all time, lose that record, then regain it again later?
      .answer
        %i Gone With the Wind

    %li.question
      What country in the 2018 World Cup is the smallest country by population ever to qualify for the tournament?
      .answer
        Iceland
        %small (approximately 350,000 people)

    %li.question
      The SUNY building in downtown Albany features the largest working weathervane in North America, modeled after what sailing ship that is the namesake of a Capital Region town?
      .answer
        <i>Half Moon</i>
        %small (or <i>Halve Maen</i>)

%section

  %h2
    Final question
    %small (Category: <em>Business</em>)

  .question
    In 2013, the company previously known as Research In Motion changed its name to what, after its flagship product?
    .answer
      BlackBerry Limited
