---
title: Bacchus trivia, January 15, 2019
---

%section

  %h2 Round 1

  %ol

    %li.question
      What is the only model of aircraft currently flown by Southwest Airlines?
      .answer
        Boeing 737

    %li.question
      Unless granted a specific exemption, NFL wide receivers must wear a two-digit uniform number beginning with one of what two digits?
      .answer
        1, 8

    %li.question
      What film’s marketing tagline “Live, Die, Repeat” was used in place of its original title when it was released on home video?
      .answer
        %i Edge of Tomorrow

    %li.question
      What type of cotton fabric derives its name from the Persian words for “milk” and “sugar”?
      .answer
        Seersucker
        %small (<i>sheer</i> + <i>shakar</i>)

    %li.question
      What five counties in New York State share their names with the last names of U.S. Presidents?
      .answer
        %ul
          %li Clinton
          %li Jefferson
          %li Madison
          %li Monroe
          %li Washington

    %li.question
      In a traditional French restaurant kitchen, what role, translating as “keeper of the food”, involves preparation of salads, cold hors d’oeuvres, and pâtés?
      .answer
        Garde manger

%section

  %h2 Round 2

  %ol

    %li.question
      What <i>Simpsons</i> character’s actual name is Jeffrey Albertson?
      .answer
        Comic Book Guy

    %li.question
      What common substance might, under various conditions, exist in a “soft ball”, “hard ball”, “soft crack”, or “hard crack” state?
      .answer
        Sugar or candy

    %li.question
      What three Major League Baseball teams play in stadiums named for brands of beer?
      .answer
        %ul
          %li
            Colorado Rockies
            %small (Coors Field)
          %li
            St. Louis Cardinals
            %small (Busch Stadium)
          %li
            Milwaukee Brewers
            %small (Miller Park)

    %li.question
      What word may refer either to a type of soup or a type of unglazed pottery?
      .answer
        Bisque

    %li.question
      What are the only two animated TV programs that have been nominated for the Best Comedy Series Primetime Emmy Award?
      .answer
        %ul
          %li
            %i The Flintstones
          %li
            %i Family Guy

    %li.question
      What seven U.S. states have only one member of the House of Representatives?
      .answer
        %ul
          %li Alaska
          %li Delaware
          %li Montana
          %li North Dakota
          %li South Dakota
          %li Vermont
          %li Wyoming

%section

  %h2 Round 3

  %p Name the fictional written work (book, play, or musical) featuring each group of characters. The year of first publication or performance is given for each work.

  %ol

    %li.question
      1811 – Eleanor Dashwood, Marianne Dashwood, Edward Ferrars
      .answer
        %i Sense and Sensibility

    %li.question
      1847 – Sarah Reed, Edward Rochester, St. John Rivers
      .answer
        %i Jane Eyre

    %li.question
      1851 – Starbuck, Stubb, Flask
      .answer
        %i Moby-Dick

    %li.question
      1859 – Charles Darnay, Sydney Carton, John Barsad
      .answer
        %i A Tale of Two Cities

    %li.question
      1925 – Nick Carraway, Tom Buchanan, Jordan Baker
      .answer
        %i The Great Gatsby

    %li.question
      1926 – Jake Barnes, Brett Ashley, Robert Cohn
      .answer
        %i The Sun Also Rises

    %li.question
      1928 – Macheath, Jonathan Peachum, Jenny
      .answer
        %i The Threepenny Opera

    %li.question
      1930 – Sam Spade, Casper Gutman, Brigid O’Shaugnessy
      .answer
        %i The Maltese Falcon

    %li.question
      1937 – George Milton, Lennie Small, Slim
      .answer
        %i Of Mice and Men

    %li.question
      1943 – Curly McLain, Laurey Williams, Jud Fry
      .answer
        %i Oklahoma!

    %li.question
      1944 – Amanda Wingfield, Tom Wingfield, Jim O’Connor
      .answer
        %i The Glass Menagerie

    %li.question
      1945 – Napoleon, Snowball, Boxer
      .answer
        %i Animal Farm

    %li.question
      1953 – Estragon, Pozzo, Lucky
      .answer
        %i Waiting for Godot

    %li.question
      1954 – Ralph, Piggy, Jack
      .answer
        %i Lord of the Flies

    %li.question
      1955 – Dolores Haze, Clare Quilty, Annabel Leigh
      .answer
        %i Lolita

    %li.question
      1957 – Sal Paradise, Dean Moriarty, Carlo Marx
      .answer
        %i On the Road

    %li.question
      1961 – Colonel Cathcart, Milo Minderbinder, Doctor Daneeka
      .answer
        %i Catch-22

    %li.question
      1962 – Martha, George, Nick, Honey
      .answer
        %i Who’s Afraid of Virginia Woolf?

    %li.question
      1975 – Velma Kelly, Roxie Hart, Billy Flynn
      .answer
        %i Chicago

    %li.question
      1983 – Richard Roma, Shelley Levine, Dave Moss
      .answer
        %i Glengarry Glen Ross

%section

  %h2 Round 4

  %ol

    %li.question
      What is the only number with its letters in alphabetical order in English?
      .answer
        Forty

    %li.question
      What country’s filmmakers have received the most Academy Awards for Best Foreign-Language Film?
      .answer
        Italy
        %small (14)

    %li.question
      What are the names of the three small bones in the middle ear of humans and other mammals?
      .answer
        Hammer, anvil, stirrup
        %small (Latin: malleus, incus, stapes)

    %li.question
      The wireless charging standard used by recent Android and Apple cellular phones is named after what Chinese word for life force or vital energy?
      .answer
        Qi

    %li.question
      What beer brand changed the color of its logo between 1951 and 1991 to avoid associations with the Soviet bloc?
      .answer
        Heineken
        %small (red five-pointed star changed to white with red outline)

    %li.question
      What are the eight major food allergens required by the FDA to be called out on food packaging?
      .answer
        %ul
          %li Milk/dairy
          %li Eggs
          %li Fish
          %li Shellfish
          %li Tree nuts
          %li Peanuts
          %li Wheat
          %li Soy

%section

  %h2 Round 5

  %ol

    %li.question
      First marketed in Britain in 1947, Polo Mints are most similar to what American candy?
      .answer
        Life Savers

    %li.question
      What type of professional would use a “Dutch angle” in their work?
      .answer
        Film/TV director or cinematographer

    %li.question
      Alphabetical characters in basic Braille consist of raised bumps within a grid of how many spaces?
      .answer
        Six

    %li.question
      What is the title of the poem by Emma Lazarus displayed at the Statue of Liberty?
      .answer
        “The New Colossus”

    %li.question
      Featured on the flags and coats of arms of Sicily and the Isle of Man, the triskelion is a design element made up of three what?
      .answer
        Legs

    %li.question
      After more than 50 years as the most-grown apple cultivar in the United States, the Red Delicious fell to second place in 2018, behind what other apple variety?
      .answer
        Gala

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    What brand of hot sauce is named after an ancient settlement in Mexico which boasts the largest pyramid in the Americas?
    .answer
      Cholula
