---
title: Bacchus trivia, June 18, 2019
---

%section

  %h2 Round 1

  %ol
    %li.question
      What U.S. state has the most Waffle House franchise locations (in absolute number, not per capita)?
      .answer
        Georgia
        %small (439 total, about one per 24,000 residents)
    %li.question
      What is the equivalent term for “astronaut” or “cosmonaut” used for Chinese space voyagers?
      .answer
        Taikonaut
    %li.question
      What film features the fictional New York Knights pro sports franchise?
      .answer
        %i The Natural
    %li.question
      What is the street address of the official residence of the Prime Minister of the United Kingdom?
      .answer
        10 Downing Street
    %li.question
      What brand of cigarettes was advertised on television by characters from <i>The Flintstones</i> in the early 1960s?
      .answer
        Winston
    %li.question
      What five-star U.S. Army general, played by Karl Malden in a 1970 film, became the first Chairman of the Joint Chiefs of Staff in 1949?
      .answer
        Omar Bradley
        %small (played by Malden in <i>Patton</i>)

%section

  %h2 Round 2

  %ol
    %li.question
      To the nearest inch, how many inches are in one meter?
      .answer
        39
        %small (39.37)
    %li.question
      By what common nickname was the Native American Party known, which ran candidates for the Presidency in 1852 and 1856?
      .answer
        Know Nothing Party
    %li.question
      What is the name of the giant sequoia in California which is the largest living tree on Earth?
      .answer
        General Sherman
    %li.question
      What baseball player was portrayed on film in back-to-back years by D.B. Sweeney and Ray Liotta?
      .answer
        “Shoeless” Joe Jackson
        %small (by Sweeney in <i>Eight Men Out</i> and Liotta in <i>Field of Dreams</i>)
    %li.question
      In heraldic nomenclature, a “mullet” refers to what type of design element in a coat of arms or flag?
      .answer
        Star
    %li.question
      December 31, 1995 was the last day that what previously-widespread product was legally sold in the United States?
      .answer
        Leaded gasoline

%section

  %h2 Round 3

  %p Name the person or place to which each nickname below refers.

  %h3 Places

  %ul
    %li.question
      The Crescent City
      .answer
        New Orleans
    %li.question
      Land of the Long White Cloud
      .answer
        New Zealand
        %small (from Māori “Aotearoa”)
    %li.question
      Charm City
      .answer
        Baltimore
    %li.question
      Venice of the North
      .answer
        Amsterdam
    %li.question
      The Equality State
      .answer
        Wyoming

  %h3 Athletes

  %ul
    %li.question
      The Mailman
      %em (basketball)
      .answer
        Karl Malone
    %li.question
      Prime Time
      %em (football)
      .answer
        Deion Sanders
    %li.question
      The Say Hey Kid
      %em (baseball)
      .answer
        Willie Mays
    %li.question
      Rocket Man
      %em (tennis)
      .answer
        Andy Roddick
    %li.question
      The Black Pearl
      %em (soccer)
      .answer
        Pelé

  %h3 Political/historical figures

  %ul
    %li.question
      Old Kinderhook
      .answer
        Martin Van Buren
    %li.question
      Governor Moonbeam
      .answer
        Jerry Brown
    %li.question
      The Little Corporal
      .answer
        Napoleon Bonaparte
    %li.question
      Old Tippecanoe
      .answer
        William Henry Harrison
    %li.question
      The Little Flower
      .answer
        Fiorello La Guardia

  %h3 Other people

  %ul
    %li.question
      The Lady With the Lamp
      .answer
        Florence Nightingale
    %li.question
      The Singing Cowboy
      .answer
        Gene Autry
    %li.question
      Lady Day
      .answer
        Billie Holiday
    %li.question
      The Velvet Fog
      .answer
        Mel Tormé
    %li.question
      The Belle of Amherst
      .answer
        Emily Dickinson

%section

  %h2 Round 4

  %ol
    %li.question
      What is the Spanish-language term for soap opera-style programs aired in Latin America?
      .answer
        Telenovela
    %li.question
      What was the name of the shipping company that owned and operated the RMS <i>Titanic</i>?
      .answer
        White Star Line
        %small (officially the Oceanic Steam Navigation Company)
    %li.question
      Name either of the two U.S. Secretaries of State to have been born in Europe.
      .answer
        %ul
          %li
            Henry Kissinger
            %small (born in Germany)
          %li
            Madeleine Albright
            %small (born in Czechoslovakia)
    %li.question
      A prescription with the notation “SL” indicates that the medication is to be taken how?
      .answer
        Under the tongue
        %small (“<i>sub lingua</i>”)
    %li.question
      In 1994, who became the first musical artist to have a song reach number one on the <i>Billboard</i> Hot 100 in the U.S. before signing a record label contract?
      .answer
        Lisa Loeb
        %small “Stay (I Missed You)”, included on the <i>Reality Bites</i> soundtrack
    %li.question
      If the United Kingdom withdraws from the European Union, what will become the largest EU member (by population) that does <em>not</em> use the euro as its currency?
      .answer
        Poland
        %small (approximately 38 million people)

%section

  %h2 Round 5

  %ol
    %li.question
      What character, appearing in three of Shakespeare’s plays, did Orson Welles call “Shakespeare’s greatest creation”?
      .answer
        Sir John Falstaff
    %li.question
      According to Jewish dietary law, all insects are non-kosher except for a few species of what type of insect?
      .answer
        Locust
    %li.question
      What country is referred to, in its own official language, as “Suomi”?
      .answer
        Finland
    %li.question
      The <i>Simpsons</i> episode “Marge Versus the Monorail” parodies elements of what Broadway musical?
      .answer
        %i The Music Man
    %li.question
      What performer became the first to complete an EGOT posthumously with wins at the Emmy Awards in September 1993 and the Grammy Awards in March 1994?
      .answer
        Audrey Hepburn
    %li.question
      What number is painted on the hood and doors of Herbie the Love Bug?
      .answer
        53

%section

  %h2
    Final question
    %small (Category: <em>Food</em>)

  .question
    What seaside destination gives its name to a style of hot dogs popular in Detroit and elsewhere in southern Michigan?
    .answer
      Coney Island
