---
title: Bacchus trivia, January 21, 2020
---

%section

  %h2 Round 1

  %ol
    %li.question
      What eastern European city was the site of multiple notable defenestrations between the 15th and 17th centuries?
      .answer
        Prague
    %li.question
      In 2013, <i>Billboard</i> magazine announced that it would begin counting what as a factor in compiling its music charts?
      .answer
        YouTube views
    %li.question
      Name any of the first-overall picks from the most recent draft in each of the four major U.S. sports leagues.
      .answer
        %ul
          %li MLB: Adley Rutschman
          %li NBA: Zion Williamson
          %li NFL: Kyler Murray
          %li NHL: Jack Hughes
    %li.question
      Started in 1976 and named after its founder and CEO, what fashion company, ten years later, became the first company on the <i>Fortune</i> 500 list founded by a woman?
      .answer
        Liz Claiborne
    %li.question
      In 1919, Charlie Chaplin, Douglas Fairbanks, D.W. Griffith, and Mary Pickford co-founded what film studio with the goal of allowing performers to control their own business interests?
      .answer
        United Artists
    %li.question
      What record producer and experimental musician was commissioned by Microsoft to create the Windows 95 startup sound effect?
      .answer
        Brian Eno

%section

  %h2 Round 2

  %ol
    %li.question
      Although later approved for use as a blood thinner in humans, the drug warfarin was originally developed for what purpose?
      .answer
        Rat poison
    %li.question
      In 1917, the United States purchased what European country’s only Caribbean colony, later renaming it the U.S. Virgin Islands?
      .answer
        Denmark
        %small (they were formerly known as the Danish West Indies)
    %li.question
      What is the only Chinese-language film ever nominated for the Academy Award for Best Picture?
      .answer
        %i Crouching Tiger, Hidden Dragon
    %li.question
      Croissants and other flaky pastries are made from what type of dough, whose name is perhaps more suggestive of an office than a bakery?
      .answer
        Laminated dough
    %li.question
      Super Bowl XXVII, in January 1993, was not played in Arizona as originally planned, but rather at the Rose Bowl in Pasadena, California. Why?
      .answer
        Arizona did not observe Martin Luther King Jr. Day
    %li.question
      What actress of stage and screen has hosted the Tony Awards five times, more often than any other presenter?
      .answer
        Angela Lansbury

%section

  %h2 Round 3

  %p Match each foreign-language Wikipedia excerpt with its language, from the following list:

  %ul.languages
    %li Basque
    %li Catalan
    %li Czech
    %li Dutch
    %li Finnish
    %li Haitian Creole
    %li Hungarian
    %li Icelandic
    %li Irish
    %li Lithuanian
    %li Māori
    %li Navajo
    %li Polish
    %li Portuguese
    %li Romanian
    %li Swahili
    %li Swedish
    %li Turkish
    %li Vietnamese
    %li Welsh

  %ol
    %li.question
      %span{ lang: 'hu', translate: 'no' }
        A mai Magyarország területén számontartott főbb néprajzi tájak és csoportok elkülönítése kisebb etnokulturális jelenségek eltérésén alapul.
      .answer Hungarian
    %li.question
      %span{ lang: 'eu', translate: 'no' }
        Ahozko literaturak aipamen berezia behar du. Euskararen idatzizko garapen mugatua dela eta, ahozko literaturaren agerpenek indar berezia izan dute.
      .answer Basque
    %li.question
      %span{ lang: 'is', translate: 'no' }
        Á síðari tímum hafa ýmsar kenningar um uppruna þjóðarinnar verið settar fram með erfðafræðilegum rökum.
      .answer Icelandic
    %li.question
      %span{ lang: 'nl', translate: 'no' }
        Doordat textiel in andere landen goedkoper geleverd kan worden, richt de stad zich meer en meer op moderne nijverheid.
      .answer Dutch
    %li.question
      %span{ lang: 'sv', translate: 'no' }
        I södra Götaland rinner många vattendrag upp i mitten av det så kallade sydsvenska höglandet och rinner både åt norr och söder, öster och väster.
      .answer Swedish
    %li.question
      %span{ lang: 'sw', translate: 'no' }
        Hakuna hakika kuhusu idadi ya wasemaji wa lugha hiyo; idadi zinazotajwa zinatofautiana.
      .answer Swahili
    %li.question
      %span{ lang: 'pt', translate: 'no' }
        João Franco foi demitido, mas o novo rei não conseguiu melhorar a imagem da monarquia nem deter a pressão do movimento republicano.
      .answer Portuguese
    %li.question
      %span{ lang: 'fi', translate: 'no' }
        Metsätyyppien jyrkät vaihtelut aiheuttavat metsien mosaiikkimaiset piirteet ja alueen maastolle tunnusomaisen pienipiirteisyyden.
      .answer Finnish
    %li.question
      %span{ lang: 'mi', translate: 'no' }
        Nō ngā tau whakatūwhera o tērā rautau, arā nō te wā i mua i te Pakanga Tuatahi o te Ao, ka hurihia hei ingoa mō te motu katoa.
      .answer Māori
    %li.question
      %span{ lang: 'ht', translate: 'no' }
        Otorite nan lekòl Nouyòk ta dwe fè yon gwo travay pou devlope michan tèks literè an kreyòl pou elèv ayisyen.
      .answer Haitian Creole
    %li.question
      %span{ lang: 'ro', translate: 'no' }
        Pe viitor, sunt prevăzute planuri de extindere a granițelor ariei metropolitane București.
      .answer Romanian
    %li.question
      %span{ lang: 'cy', translate: 'no' }
        Rhennid ei thiroedd yn diroedd roedd Llywelyn i fod yn arglwydd uniongyrchol arnynt ac yn diroedd roedd ef i fod yn ben-arglwydd drostynt.
      .answer Welsh
    %li.question
      %span{ lang: 'vi', translate: 'no' }
        Sau chiến thắng của khởi nghĩa Lam Sơn, Lê Lợi thành lập nhà Lê và Đông Đô cũng lấy lại vị thế kinh thành.
      .answer Vietnamese
    %li.question
      %span{ lang: 'tr', translate: 'no' }
        Şehrin belediyeler bazında idari bölünmesi, imparatorluk yıkılana dek pek çok kez değişikliğe uğradı.
      .answer Turkish
    %li.question
      %span{ lang: 'ca', translate: 'no' }
        S’elegeixen, per cada província, quatre senadors per sufragi universal pels votants que hi resideixin, llevat de les províncies insulars.
      .answer Catalan
    %li.question
      %span{ lang: 'nv', translate: 'no' }
        Táá’ naaznilí bighan góne’ dah nahazt’ánígíí éí Alą́ąjį’ dahsidáhígíí, Aké góne’ dahsidáhígíí, áádóó Naaltsoos ííłʼíní.
      .answer Navajo
    %li.question
      %span{ lang: 'ga', translate: 'no' }
        Tá an leabhar seo scríofa de réir mar a chomhcheanglaítear na smaointí, seachas de réir mar a thiteann na himeachtaí amach.
      .answer Irish
    %li.question
      %span{ lang: 'cs', translate: 'no' }
        Ten odpovídá za financování volební kampaně, rozhoduje jednomyslně a zastupuje jej písemně pověřený člen.
      .answer Czech
    %li.question
      %span{ lang: 'lt', translate: 'no' }
        Užnemunėje valstiečiams buvo anksčiausiai, palyginus su kitomis Lietuvos dalimis, suteikta asmens laisvė, čia rusinimo politika buvo silpnesnė.
      .answer Lithuanian
    %li.question
      %span{ lang: 'pl', translate: 'no' }
        Zespoły te składają się z obiektów sakralnych, rezydencjonalnych i mieszkalnych, pochodzących głównie z okresu baroku i klasycyzmu.
      .answer Polish

%section

  %h2 Round 4

  %ol
    %li.question
      Uniquely among Shakespeare’s plays, <i>Measure for Measure</i> is set in what city?
      .answer
        Vienna
    %li.question
      In cricket, a wicket consists of three upright posts with two cross-pieces set on top. Give the names of either of these constituent parts.
      .answer
        Stumps, bails
    %li.question
      What car company introduced “VentiPorts” on the front fenders of its 1949 models, a signature design element which it continued to use into the 21st century?
      .answer
        Buick
    %li.question
      Hard cider made from pears instead of apples may be called by what alternate name <em>(generic category term, not trademark)</em>?
      .answer
        Perry
    %li.question
      Showrunner Michael Schur has said that his comedy series <i>The Good Place</i> draws inspiration in part from what 1944 play?
      .answer
        %i No Exit
    %li.question
      From 1792 to 1806, Francis II was the last of 47 men to hold what title?
      .answer
        Holy Roman Emperor

%section

  %h2 Round 5

  %ol
    %li.question
      The National Cathedral in Washington is officially a house of worship of what Christian denomination?
      .answer
        Episcopal Church
    %li.question
      What film was played as the first broadcast on both TNT in 1988 and Turner Classic Movies in 1994?
      .answer
        %i Gone with the Wind
    %li.question
      The flags of Indonesia and Monaco, turned upside-down, are essentially identical to the flag of what other country?
      .answer
        Poland
    %li.question
      With nine wins, what 1987 music video has won more MTV Video Music Awards than any other?
      .answer
        “Sledgehammer” by Peter Gabriel
    %li.question
      What vegetable is one of the national symbols of Wales?
      .answer
        Leek
    %li.question
      Excluding at-large districts comprising entire states, the largest congressional district in the U.S. by land area is located in what state?
      .answer
        New Mexico
        %small (2nd district)

%section

  %h2
    Final question
    %small (Category: <em>Geography</em>)

  .question
    What is the smallest permanently-inhabited island in the world divided between multiple countries?
    .answer
      Saint Martin
      %small (or Sint Maarten)
      %ul.small
        %li Divided between France and the Netherlands
        %li 34 square miles, about half the size of Washington, DC
