---
title: LearnedLeague visualizations
---

= partial 'header'

%main.container
  %ul
    %li
      = link_to 'll71-pts-by-opponent-qpct.html' do
        Average match points by TCA vs. opponent QPct, LL71
    %li
      = link_to 'll71-wins-by-tca.html' do
        Win percentage by TCA vs. rundle-wide QPct, LL71
    %li
      = link_to 'll71-tca-vs-de.html' do
        Total correct answers vs. defensive efficiency by level, LL71
