---
title: LearnedLeague visualizations
---

= partial 'header'

%main.container
  %ul
    %li
      = link_to 'll71-tca-vs-de.html' do
        Total correct answers vs. defensive efficiency by level, LL71
