---
title: Total correct answers vs. defensive efficiency by level, LL73
---

.plotly-fullscreen{ id: 'plot_div' }
  %span Loading…
.back-fullscreen
  = link_to '← Back', '/learnedleague/'

- content_for :footer do
  %script{ src: asset_path(:js, 'vendor/import') }
  :coffeescript
    window.CSV_URL = 'https://raw.githubusercontent.com/jletourneau/jletourneau.github.io/master/data/ll73-players.csv'
    $import(
      'https://cdn.plot.ly/plotly-latest.min.js',
      () -> $import('#{asset_path(:js, "learnedleague/tca-vs-de")}'))
