---
title: Jack Letourneau
---

.container
  %ul.accounts
    %li
      %a{ href: 'https://github.com/jletourneau' }<
        %i.icon.icon-github>
        GitHub
    %li
      %a{ href: 'https://twitter.com/jlet' }<
        %i.icon.icon-twitter>
        Twitter
    %li
      %a{ href: 'https://facebook.com/jack.letourneau' }<
        %i.icon.icon-facebook>
        Facebook
    %li
      %a{ href: 'https://flickr.com/letouj' }<
        %i.icon.icon-flickr>
        Flickr
    %li
      %a{ href: 'https://plus.google.com/+JackLetourneau' }<
        %i.icon.icon-gplus>
        Google+
