---
title: Jack Letourneau
---

= partial 'header'

%main.container
  .hello.noprint
    .photo
    %p Hello.
  %ul.accounts
    %li
      %a.i.i-github{ href: 'https://github.com/jletourneau' }<
        GitHub
    %li
      %a.i.i-tw{ href: 'https://twitter.com/jlet' }<
        Twitter
    %li
      %a.i.i-fb{ href: 'https://www.facebook.com/jack.letourneau' }<
        Facebook
    %li
      %a.i.i-flickr{ href: 'https://www.flickr.com/photos/letouj' }<
        Flickr
    %li
      %a.i.i-lkin{ href: 'https://www.linkedin.com/in/letouj' }<
        LinkedIn
    %li
      %a.i.i-key{ href: 'https://keybase.io/jlet' }<
        Keybase
    %li
      %span.i.i-mail<
        Gmail:
        %strong letouj
  .noprint
    %hr
    %h2
      = link_to '/trivia/index.html' do
        Bacchus trivia
    %p
      Archive of trivia nights I’ve written and hosted at
      = succeed '.' do
        %a{ href: 'https://www.facebook.com/Bacchus-Wood-Fired-145184168850725/' }<
          Bacchus Wood-Fired
