---
title: Jack Letourneau
---

.container
  .hello
    .photo
    %p Hello.
  %ul.accounts
    %li
      %a{ href: 'https://github.com/jletourneau' }<
        %span.i-github>
        GitHub
    %li
      %a{ href: 'https://twitter.com/jlet' }<
        %span.i-tw>
        Twitter
    %li
      %a{ href: 'https://www.facebook.com/jack.letourneau' }<
        %span.i-fb>
        Facebook
    %li
      %a{ href: 'https://www.flickr.com/photos/letouj' }<
        %span.i-flickr>
        Flickr
    %li
      %a{ href: 'https://www.linkedin.com/in/letouj' }<
        %span.i-lkin>
        LinkedIn
    %li
      %a{ href: 'https://plus.google.com/+JackLetourneau' }<
        %span.i-gplus>
        Google+
    %li
      %a{ href: 'https://keybase.io/jlet' }<
        %span.i-key>
        Keybase
    %li
      %span.i-mail>
      Gmail:
      %strong letouj
