---
title: Franz Kafka, “Poseidon”
---

.container

  %p

    Poseidon sat at his desk, doing figures. The administration of all the
    waters gave him endless work. He could have had assistants, as many as
    he wanted — and he did have very many — but since he took his job very
    seriously, he would in the end go over all the figures and calculations
    himself, and thus his assistants were of little help to him. It cannot
    be said that he enjoyed his work; he did it only because it had been
    assigned to him; in fact, he had already filed many petitions for — as
    he put it — more cheerful work, but every time the offer of something
    different was made to him it would turn out that nothing suited him
    quite as well as his present position. And anyhow it was quite
    difficult to find something different for him. After all, it was
    impossible to assign him to a particular sea; aside from the fact that
    even then the work with figures would not become less but only pettier,
    the great Poseidon could in any case occupy only an executive position.
    And when a job away from the water was offered to him he would get sick
    at the very prospect, his divine breathing would become troubled and
    his brazen chest began to tremble. Besides, his complaints were not
    really taken seriously; when one of the mighty is vexatious the
    appearance of an effort must be made to placate him, even when the case
    is most hopeless. In actuality a shift of posts was unthinkable for
    Poseidon — he had been appointed God of the Sea in the beginning, and
    that he had to remain.

  %p

    What irritated him most — and it was this that was chiefly responsible
    for his dissatisfaction with his job — was to hear of the conceptions
    formed about him: how he was always riding about through the tides with
    his trident. When all the while he sat here in the depths of the
    world-ocean, doing figures uninterruptedly, with now and then a trip to
    Jupiter as the only break in the monotony — a trip, moreover, from
    which he usually returned in a rage. Thus he had hardly seen the
    sea — had seen it but fleetingly in the course of hurried ascents to
    Olympus, and he had never actually traveled around it. He was in the
    habit of saying that what he was waiting for was the fall of the world;
    then, probably, a quiet moment would be granted in which, just before
    the end and having checked the last row of figures, he would be able to
    make a quick little tour.

  %p

    Poseidon became bored with the sea. He let fall his trident. Silently
    he sat on the rocky coast and a gull, dazed by his presence, described
    wavering circles around his head.

%hr

.container

  %p

    Poseidon saß an seinem Arbeitstisch und rechnete. Die Verwaltung aller
    Gewässer gab ihm unendliche Arbeit. Er hätte Hilfskräfte haben können,
    wie viel er wollte, und er hatte auch sehr viele, aber da er sein Amt
    sehr ernst nahm, rechnete er alles noch einmal durch und so halfen ihm
    die Hilfskräfte wenig. Man kann nicht sagen, daß ihn die Arbeit freute,
    er führte sie eigentlich nur aus, weil sie ihm auferlegt war, ja er
    hatte sich schon oft um fröhlichere Arbeit, wie er sich ausdrückte,
    beworben, aber immer, wenn man ihm dann verschiedene Vorschläge machte,
    zeigte es sich, daß ihm doch nichts so zusagte, wie sein bisheriges
    Amt. Es war auch sehr schwer, etwas anderes für ihn zu finden. Man
    konnte ihm doch unmöglich etwa ein bestimmtes Meer zuweisen; abgesehen
    davon, daß auch hier die rechnerische Arbeit nicht kleiner, sondern nur
    kleinlicher war, konnte der große Poseidon doch immer nur eine
    beherrschende Stellung bekommen. Und bot man ihm eine Stellung
    außerhalb des Wassers an, wurde ihm schon von der Vorstellung übel,
    sein göttlicher Atem geriet in Unordnung, sein eherner Brustkorb
    schwankte. Übrigens nahm man seine Beschwerden nicht eigentlich ernst;
    wenn ein Mächtiger quält, muß man ihm auch in der aussichtslosesten
    Angelegenheit scheinbar nachzugeben versuchen; an eine wirkliche
    Enthebung Poseidons von seinem Amte dachte niemand, seit Urbeginn war
    er zum Gott der Meere bestimmt worden und dabei mußte es bleiben.

  %p

    Am meisten ärgerte er sich — und dies verursachte hauptsächlich seine
    Unzufriedenheit mit dem Amt — wenn er von den Vorstellungen hörte, die
    man sich von ihm machte, wie er etwa immerfort mit dem Dreizack durch
    die Fluten kutschiere. Unterdessen saß er hier in der Tiefe des
    Weltmeeres und rechnete ununterbrochen, hie und da eine Reise zum
    Jupiter war die einzige Unterbrechung der Eintönigkeit, eine Reise
    übrigens, von der er meistens wütend zurückkehrte. So hatte er die
    Meere kaum gesehen, nur flüchtig beim eiligen Aufstieg zum Olymp, und
    niemals wirklich durchfahren. Er pflegte zu sagen, er warte damit bis
    zum Weltuntergang, dann werde sich wohl noch ein stiller Augenblick
    ergeben, wo er knapp vor dem Ende nach Durchsicht der letzten Rechnung
    noch schnell eine kleine Rundfahrt werde machen können.

  %p

    Poseidon wurde überdrüssig seiner Meere. Der Dreizack entfiel ihm.
    Still saß er an felsiger Küste und eine von seiner Gegenwart betäubte
    Möve zog schwankende Kreise um sein Haupt.
